// Composants
@import 'modules/components/header.scss';
@import 'modules/components/footer.scss';
// modules
@import 'modules/buttons';
@import 'modules/cards';
@import 'modules/formulaire';
@import 'modules/var';
@import 'modules/components/burger.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none!important;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background-color: $bg;
    font-family: 'Montserrat', sans-serif;
}

.cta-blue {
    @include cta-blue;
}

.cta-border {
    @include cta-border;
}

.about {
    display: flex;
    justify-content: space-evenly;
    color: $n;
    padding: 0 24px 24px 24px;
    margin-top: 6.5%;
    .text {
        margin-top: 4%;
        h1 {
            font-weight: 700;
            font-size: 26px;
        }
        p {
            margin-top: 8px;
            font-weight:400;
            word-break: break-word;
            font-family: 'Poppins', sans-serif;
        }
        // #lien-voir-plus {
        //     display: block;
        //     margin: 8px 0 16px 0;
        //     color: $n;
        // }
        .buttons {
            margin-top: 24px;
            a {
                margin-right: 10px;
            }
        }
    }
    .video {
        iframe {
            height: 300px;
            width: 560px;
            
        }
        @media screen and (max-width:600px) {
            iframe {
                height: 300px;
                width: 420px!important;
                
            }
        }
        @media screen and (max-width:450px) {
            iframe {
                height: 300px;
                width: 320px!important;
                
            }
        }
        @media screen and (max-width:320px) {
            iframe {
                height: 300px;
                width: 270px!important;
                
            }
        }
    }
}

.projets {
    background-color: $w2;
    margin-top: 11%;
    h1 {
        text-align: center;
        margin-bottom: 22px;
        color: $b;
    }
    .carousel-cell {
        width: 40%;
        height: 280px;
        margin-right: 24px;
        box-shadow: $shadow;
        border-radius: 5px;
        counter-increment: carousel-cell;
        position:relative;
        iframe {
            position: absolute;
            left: 0;
            top:0;
            width:100%;
            height:100%;
        }
      }

      /* cell number */
      .carousel-cell:before {
        display: block;
        text-align: center;
        content: counter(carousel-cell);
        line-height: 250px;
        font-size: 80px;
        color: $b;
      }
}

.block {
    display: block;
    margin-top: 32px;
    @media screen and (max-width:600px){
        display: flex;
        flex-direction: column;
    }
}

.red {
    margin-top: 10px;
    color : #bf1d1d;
    font-weight: 500;
    display: block;
}

.burger-active {
    transform: translateX(0);
}

@media screen and (max-width:1100px) {
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .text {
            margin-top: 0%;
        }
        .video {
            margin-top: 40px;
            iframe {
                width: 520px;
            }
        }
    }
}