// Composants
@import 'modules/components/header.scss';
@import 'modules/components/footer.scss';
// modules
@import 'modules/buttons';
@import 'modules/cards';
@import 'modules/formulaire';
@import 'modules/var';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: $bg;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

