@mixin cta-blue {
    background-color: $b;
    border: solid 1px $b;
    padding: 10px 16px;
    color: $w!important;
    border-radius: 3px;
    transition: $tr;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    &:hover {
        background: $bg;
        border: solid 1px $b;
        color: $b!important;
    }
}

@mixin cta-border {
    background-color: $bg;
    border: solid 1px $b;
    padding: 10px 16px;
    color: $b!important;
    border-radius: 3px;
    transition: $tr;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    &:hover {
        border: solid 1px rgb(12, 12, 97);
        color: rgb(12, 12, 97)!important;
    }
}