.form-avis {
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
        margin: 0px auto;
        width: 50%;
        display: none;
        input, select, textarea {
            background-color: $input;
            border: none;
            border-radius: 2px;
            padding-left: 10px;
            padding-right: 10px;
            outline-color: $input;
            &::placeholder {
                font-size: 13px;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
            }
        }
        input, select {
            height: 37px;
            margin-bottom: 16px;
            width:100%;
        }
        select {
            color: $g;
        }
        .infos {
            display: flex;
            width: 100%;
            label {
                width:50%;
                &:first-child {
                    margin-right: 16px;
                }
            }
        }
        .msg {
            width: 100%;
        }
        textarea {
            height: 150px;
            width:100%;
            padding-top: 15px;
        }
        button {
            margin-top: 8px;
            cursor: pointer;
            padding: 12px 16px!important;
        }
}

.form-contact {
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
        margin: 0px auto;
        width: 50%;
        background-color: rgb(255, 255, 255);
        padding: 24px;
        border-radius: 6px;
        margin-bottom: 24px;
        .title-contact {
            text-align:left;
            width: 100%;
            margin-bottom: 12px;
            font-weight: 600;
        }
        input, select, textarea {
            background-color: $input;
            border: none;
            border-radius: 2px;
            padding-left: 10px;
            padding-right: 10px;
            outline-color: $input;
            &::placeholder {
                font-size: 13px;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
            }
        }
        input, select {
            height: 37px;
            margin-bottom: 16px;
            width:100%;
        }
        select {
            color: $g;
        }
        .infos {
            display: flex;
            width: 100%;
            label {
                width:50%;
                &:first-child {
                    margin-right: 16px;
                }
            }
        }
        .msg {
            width: 100%;
        }
        textarea {
            height: 150px;
            width:100%;
            padding-top: 15px;
        }
        button {
            margin-top: 8px;
            cursor: pointer;
            padding: 12px 16px!important;
        }
}

@media screen and (max-width:1000px) {
    .form-avis {
        .infos {
            display: block;
            width: 100%;
        }
    }

    .form-contact {
        .infos {
            display: block;
            width: 100%;
            label {
                width:50%;
                &:first-child {
                    margin-right: 16px;
                }
            }
        }
    }
}

@media screen and (max-width:750px) {
    .form-avis {
        .infos {
            display: block;
            width: 320px;
        }
        
        .msg {
            width:320px;
        }
        textarea {
            height: 150px;
            width:320px;
            padding-top: 15px;
        }
    }

    .form-contact {
        width: auto;
        .title-contact {
            text-align:center;
            width: 100%;
            margin-bottom: 12px;
            font-weight: 600;
        }
        .infos {
            display: block;
            width: 320px;
            label {
                width:50%;
                &:first-child {
                    margin-right: 16px;
                }
            }
        }
        .msg {
            width:320px;
        }
        textarea {
            height: 150px;
            width:320px;
            padding-top: 15px;
        }
    }
}