$bg:#F8F8F8;
$b: linear-gradient(180deg, #2A1DBF 0%, #1F1592 100%);
$w: #fff;
$r: linear-gradient(180deg, #C71C1C 0%, #CC1F1F 100%);
$g: #595959;
$n: #191919;
$input: #E9E9E9;
$shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);